.redBg {
    color: aliceblue;
    background-color: rgb(240, 77, 54);
    border: rgb(255, 240, 240) 4px dotted;
    font-family: Calibri;
    text-decoration: underline;
    text-align: center;
}

.blueBg {
    background: rgb(233, 255, 251);
    font-style: italic;
    border: rgb(66, 170, 255) 4px double;
    border-radius: 20px;
    margin: 10px;
    padding: 25px;
}

.hexagonBg {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm8YLvhm2i4MhhszUEl2i-vuVirbCdXa2vWg&s);
    font-family: 'Trebuchet MS';
    border: rgb(240, 77, 54) 4px double;
    border-radius: 10px;
    margin: 25px;
    padding: 15px;
}

.ridgeBorder {
    background-color: rgb(85, 78, 106);
    border: rgba(203, 115, 60, 0.82) 10px ridge;
    margin: auto;
    width: 300px;
    height: 270x;
    text-align: center;
}

span {
    background: rgb(255, 247, 0);
    font-size: 20px;
}

#fade {
    opacity: 50%;
    font-size: 14px;
}

body {
    background: url(https://static.vecteezy.com/system/resources/previews/004/560/490/non_2x/christmas-repeat-pattern-snowflake-repeat-pattern-on-white-background-hand-drawn-repeat-pattern-for-textile-gift-wrapper-fabric-web-backdrop-and-packaging-free-vector.jpg);
}

h2 {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 77, 54);
    font-size: 29px;
}

h3 {
    color: rgb(73, 65, 88);
}

p {
    color: rgb(227, 80, 60);
    background-color: white;
}

ol {
    color: rgb(73, 65, 88);
}

form {
    color: rgb(73, 65, 88);
}