.redBorder {
    color: aliceblue;
    background-color: rgb(240, 77, 54);
    border: rgb(255, 234, 234) 4px dotted;
    font-family: Calibri;
    text-align: center;
}

.blueBorder {
    background: rgb(233, 255, 251);
    border: rgb(66, 170, 255) 4px double;
    border-radius: 20px;
}

.fontFam {
    font-family: 'Trebuchet MS';
}

.underline {
        text-decoration: underline;
        }

span {
    background: rgb(241, 250, 114);
}
body {
    background: url(https://static.vecteezy.com/system/resources/previews/003/478/190/original/seamless-pattern-of-silver-snowflakes-vector.jpg);
}

h2 {
    color: rgb(81, 136, 183);
}

h3 {
    color: rgb(73, 65, 88);
}

p {
    color: rgb(156, 52, 37);
}

ol {
    color: rgb(73, 65, 88);
}

form {
    color: rgb(73, 65, 88);
}