body {
    background: yellow;
}

.eye {
    background: white;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 20px;
}

.pupil {
    background: black;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-left: 30px;
}

#mouth {
    background: black;
    position: absolute;
    width: 450px;
    height: 310px;
    top: 270px;
    left: 28px;
}

.teeth {
    background: white;
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: 30px;
    margin-left: 20px;
}

#tongue {
    background: red;
    position: relative;
    width: 200px;
    height: 140px;
    top: 100px;
    left: 120px;
}

#tongueLine {
    background: black;
    position: absolute;
    width: 12px;
    height: 110px;
    top: 167px;
    left: 211px;
}